<!doctype html>
<html lang="en">

<head>

	<!--  Carrega Scripts principais -->
	<script src="js/customJavaScript.js"></script>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!--Icones Awsome-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
	 crossorigin="anonymous">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link rel="shortcut icon" type="image/x-icon" href="img/siassVerde.png" />
	<link rel="stylesheet" href="css/base.css">
	<title>SiAss</title>
</head>

<body>
	<header>
		<!--Inicio do navbar-->
		<nav class="navbar navbar-expand-lg navbar-light bg-dark">
			<div class="container">
				<a class="navbar-brand" href="index.html">
					<div class="imgNav alinLogo">
						<img src="img/siassVerde.png" class="img-responsive" alt="Logo da Siass">
					</div>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="nav-link" href="index.html"> <i class="fas fa-home"></i>Inicio <span class="sr-only">(current)</span>
							</a></li>
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-user"></i> Artesãos
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="cadastroArtesao.html"> <i class="fas fa-user-plus"></i> Cadastro de Artesãos
								</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"> <i class="far fa-chart-bar"></i> Relatório de Artesãos
								</a>
							</div>
						</li>
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-boxes"></i> Produtos
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="cadastroProduto.html"> <i class="fas fa-box-open"></i> Cadastrar Produto
								</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"> <i class="far fa-chart-bar"></i> Relatório de Produtos
								</a>
							</div>
						</li>
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-calendar-alt"></i>
								Eventos
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="eventos.html"> <i class="far fa-calendar-alt"></i> Cadastrar novo Evento
								</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"> <i class="far fa-chart-bar"></i> Relatório de Eventos
								</a>
							</div>
						</li>
						<li class="nav-item"><a class="nav-link disabled" href="movimentacoes.html"> <i class="fas fa-dollar-sign"></i>Movimentações
							</a></li>
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder=" Digite aqui para pesquisar..." aria-label="Search">

						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
							<i class="fas fa-search colorbtn"></i> Pesquisar
						</button>
						<a href="login.html" class="sair">Sair</a>
					</form>
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
		<div class="containerBody">
			<h2>Editar Artesão</h2>
			<hr>
			<h4>Dados Pessoas</h4>
			<br>
			<form class="needs-validation" action="/artesao" method="POST">
				<div class="form-row">
					<div class="col-md-4 mb-3">
						<label for="nome">Nome do Artesão</label> <input type="text" class="form-control" id="nome" name="nome"
						 placeholder="Nome do Artesao" required>
						<div class="valid-tooltip">Campo Obrigatório</div>
					</div>
					<div class="col-md-4 mb-3">
						<label for="dataDeNascimento">Data de Nascimento</label> <input class="form-control" type="date" value="00-00-0000"
						 id="dataDeNascimento" name="dataDeNascimento">
						<div class="valid-tooltip">Digite uma data valida</div>
					</div>
					<div class="col-md-4 mb-3">
						Sexo: <br>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="sexo" id="sexoMasculino" name="sexo" value="Masculino"
							 checked>
							<label class="form-check-label" for="sexoMasculino">
								Masculino </label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="sexo" id="sexoFeminino" name="sexo" value="Feminino"> <label
							 class="form-check-label" for="sexoFeminino"> Feminino </label>
						</div>
					</div>

				</div>
				<div class="form-row">
					<div class="form-group col-md-4 mb-3">
						<label for="naturalidadeUF">UF Naturalidade</label> <select value="" id="naturalidadeUF" class="form-control" id="naturalidadeUF"
						 name="naturalidadeUF" required>

						</select>
					</div>
					<div class="form-group col-md-4 mb-3">
						<label for="naturalidadeMU">Município Naturalidade</label> <select value="" id="naturalidadeMU" class="form-control"
						 id="naturalidadeMU" name="naturalidadeMU" required>

						</select>
					</div>
					<div class="col-md-4 mb-3">
						<label for="numRG">Número de RG</label> <input type="text " class="form-control " id="numRG" name="numRG"
						 placeholder="RG " required>
						<div class="invalid-tooltip ">Por favor, insira o RG</div>
					</div>
				</div>
				<script language="JavaScript" type="text/javascript" charset="utf-8">
					new dgCidadesEstados({
						cidade: document.getElementById('naturalidadeMU'),
						estado: document.getElementById('naturalidadeUF')
					})
				</script>
				<hr>
				<h4>Endereço</h4>
				<br>
				<div class="form-row">
					<div class="col-md-3 mb-3">
						<label for="cepArtesao">CEP</label> <input type="text " class="form-control" id="cepArtesao" name="cepArtesao" placeholder="00000-000"
						 onblur="pesquisacep(this.value);" required>
						<div class="invalid-tooltip">Insira CEP válido.</div>
					</div>
					<div class="col-md-6 mb-3">
						<label for="rua">Rua</label> <input type="text" class="form-control" id="rua" name="rua" placeholder="Rua" required>
						<div class="invalid-tooltip">Por favor, insira uma rua</div>
					</div>
					<div class="col-md-1 mb-3">
						<label for="numeroEnd">Nº</label> <input type="text" class="form-control " id="numeroEnd" name="numeroEnd"
						 placeholder="Nº" required>
						<div class="invalid-tooltip">Por favor, insira um rua</div>
					</div>
					<div class="col-md-2 mb-3">
						<label for="complemento">Complemento</label> <input type="text" class="form-control " id="complemento" name="complemento"
						 placeholder="Complemento" required>
						<div class="invalid-tooltip">Por favor, insira um número</div>
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-3 mb-3">
						<label for="bairro">Bairro</label> <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro"
						 required>
						<div class="invalid-tooltip ">Insira um estado válido.</div>
					</div>
					<div class="col-md-6 mb-3">
						<label for="cidade">Cidade</label> <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade"
						 required>
						<div class="invalid-tooltip ">Insira um estado válido.</div>
					</div>
					<div class="col-md-3 mb-3">
						<label for="uf">Estado</label> <input type="text" class="form-control" id="uf" name="uf" placeholder="Estado"
						 required>
						<div class="invalid-tooltip ">Insira um estado válido.</div>
					</div>

				</div>
				<hr>
				<h4>Contato</h4>
				<br>
				<div class="form-row">
					<div class="col-md-4 mb-3">
						<label for="emailArtesao">E-mail</label> <input type="email " class="form-control" id="emailArtesao" name="emailArtesao"
						 placeholder="E-mail">
					</div>
					<div class="col-md-4 mb-3">
						<label for="celular">Celular</label> <input type="email " class="form-control" id="celular" name="celular"
						 placeholder="Celular">
					</div>
					<div class="col-md-4 mb-3">
						<label for="telefone">Telefone</label> <input type="email " class="form-control" id="telefone" name="telefone"
						 placeholder="Telefone">
					</div>
				</div>
				<hr>
				<button class="btn btn-primary" type="submit">Salvar</button>
		</div>
		</form>

	</div>
	<br>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous "></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous "></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
	 crossorigin="anonymous "></script>
</body>

</html>