/*Customização do navbar
--------------------------------------------------------------------*/

.imgNav img {
    max-width: 60px;
    max-height: 60px;
    width: auto;
    height: auto;
}

.sair {
    margin-left: 8px;
    color: white;
}

.nav-link {
    color: white !important;
}

/*Customização em smartphone
--------------------------------------------------------------------*/

/*Customização do navbar em smartphone
--------------------------------------------------------------------*/

@media only screen and (max-width: 400px) {
    .alinLogo {
        text-align: center;
    }
    /*Customização do body
--------------------------------------------------------------------*/
    body {
        background-color: white !important;
    }
    li::after .btn-danger {
        padding: 5px;
        padding-right: 12px;
        padding-left: 12px;
        margin-left: 5px;
        background-color: rgb(27, 150, 231);
    }
    .barEstado {
        width: 400px;
        height: 400px;
    }
    /*Customização botoes editar e excluir
--------------------------------------------------------------------*/
}

/*Customização do botão
--------------------------------------------------------------------*/

.btn {
    background-color: rgb(40, 143, 68);
    color: white;
    border-color: #28a745;
}

.list-group-item {
    padding: 20px;
}

li .btn-danger {
    padding: 5px;
    padding-right: 12px;
    padding-left: 12px;
    float: right;
    margin-left: 5px;
    background-color: red;
}

.btn-primary {
    background-color: rgb(40, 143, 68) !important;
    border-color: #28a745 !important;
}

.btnNovo{ 
    margin-top: 10px;
    padding: 6px;
}

.btnNovo button{ 

    padding: 5px;
    padding-right: 8px;
    padding-left: 8px;
    
}

.btnNovo .fas {
    color: white;
}
/*Customizacao da tela de Login em Desktop
--------------------------------------------------------------------*/

@media only screen and (min-width: 1200px) {
    .containerLogin {
        padding-left: 300px;
        padding-right: 300px;
    }
    .containerSucess{
        padding-left: 300px;
        padding-right: 300px;
    }
    /*Custmozacao da nav bar (Desktop)*/
    .navbar {
        height: 80px;
    }
}

/*Customizacao dos ícones
--------------------------------------------------------------------*/

.fas {
    color: rgb(40, 143, 68);
    margin: 3px;
}

div button .colorFas {
    color: white;
}

.far {
    color: rgb(40, 143, 68);
    margin: 3px;
}

.colorbtn {
    color: white;
}

/*Customização do body
--------------------------------------------------------------------*/

body {
    background-color: rgb(240, 240, 240);
}

.container {
    margin-top: 20px;
}

.container .containerBody {
    background-color: white;
    padding: 40px;
    border: 2px solid white;
    border-radius: 5px;
}

/*Customização do toggle
--------------------------------------------------------------------*/

.navbar-toggler {
    background-color: rgb(40, 143, 68);
    color: white;
}

/*Customização da tela de Login
--------------------------------------------------------------------*/

.logoLogin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
}

.imgSucess {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.atuaSucess {
    text-align: center;
}

.reportIcon{
    width: 150px;
    height: 150px;
}